    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      background-color: #f6f8fa;
    }

    header {
      background-color: #0132c7;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
    }

    .tag {
      font-size: 28px;
      margin-left: 0%;
      margin-right: 22%;

    }

    #admin-logo {
      height: 50px;
      width: 50px;
      margin-left: 32%;
      border-radius: 50%;
      background-color: #E5E7EB;
    }

    .button {
      background-color: #e63946;
      color: white;
      text-decoration: none;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }

    .dashboard {
      padding: 30px 50px;
    }

    .dashboard h2 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      color: #333;
    }

    tbody tr:nth-child(even) {
      color: rgb(108, 108, 108);
      background-color: #dadada;

    }
    tbody tr:hover{
      cursor: pointer;
      color: white;
    }
    .summary-cards {
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
    }

    .card {
      background: rgb(212, 212, 212);
      border-radius: 10px;
      padding: 20px;
      flex: 1;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .card h3 {
      font-size: 16px;
      color: #000000;
      margin-bottom: 10px;
    }

    .card p {
      font-size: 32px;
      font-weight: bold;
      color: #000000;
    }

    .card.orange{
      box-shadow: 5px 5px 5px#242424;
    }

    .card.green {
      box-shadow: 5px 5px 5px #242424;
    }

    .card.blue {
      box-shadow: 5px 5px 5px #242424;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: white;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    table thead {
      background-color: #e6e6e6;
    }

    th,
    td {
      text-align: left;
      padding: 14px 18px;
    }

    th {
      color: #ffffff;
      font-weight: 600;
      font-size: 14px;
      background-color: #070707;
    }

    td {
      color: #000000;
      font-size: 14px;
    }

    .status {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .status.pending {
      background-color: #ff9800;
    }

    .status.inprogress {
      background-color: #2196f3;
    }

    .status.resolved {
      background-color: #4caf50;
    }
    .new{
      margin-bottom: 15px;
      font-size: 25px;
    }

    #ed-but{
      background-color: #1aeb16;
      color: white;
      text-decoration: none;
      border: none;
      padding: 8px 24px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }

     #del-but{
      background-color: #e73930;
      color: white;
      text-decoration: none;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }