
.boxes{
    margin-left: 350px;
    margin-top: 50px;
}
.box1{
    box-sizing: border-box ;
    border: 2px solid;
    border-radius: 15px;
    width: 100vh;
    height: 140px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    background:linear-gradient(rgb(115, 116, 126),rgba(255, 255, 255, 0.9));
}
.box2{
    box-sizing: border-box ;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 110px;
    width: 100vh;
    height: 140px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    background:linear-gradient(rgb(122, 126, 137),white);
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.call{
    margin-left: 60px;
}
.mail{
    margin-left: 60px;
}
.help{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -170px;
    font-size: 40px;
}
.support{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -180px;
    font-size: 35px;
    margin-left: 50px;
}