
.boxes{
    margin-left: 400px;
    margin-top: 50px;
}
.box1{
    box-sizing: border-box ;
    border: 2px solid;
    border-radius: 15px;
    width: 90vh;
    height: 120px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    background:#eea410b0;
}
.box2{
    box-sizing: border-box ;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 110px;
    width: 90vh;
    height: 120px;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    background:#eea410b0;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.call{
    margin-left: 60px;
}
.mail{
    margin-left: 60px;
}
.help{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -165px;
    font-size: 25px;
}
.support{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -165px;
    font-size: 25px;
    margin-left: 50px;
}
