    * {
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }

    .container {
      background-color: #fff;
      width: 600px;
      border-radius: 8px;
      box-shadow: 0px 0px 30px 30px rgba(2, 2, 220, 0.1);
      overflow: hidden;
    }

    .header {
      background: #1e40af;
      color: white;
      text-align: center;
      padding: 15px;
    }

    .header h2 {
      font-size: 34px;
      margin-bottom: 5px;
      margin-left: 6px;
    }

    .header p {
      font-size: 16px;
    }

    form {
      padding: 32px;
    }

    label {
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #6b6b6b;
      border-radius: 5px;
      font-size: 14px;
    }

    textarea {
      resize: vertical;
      height: 80px;
    }

    .row {
      display: flex;
      gap: 10px;
    }

    .row div {
      flex: 1;
    }

    .anon {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 15px;
    }

    .contact-info {
      background-color: #d9d9d9;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 60px;
    }

    span {
      color: red;
    }

    .submit {
      margin-right: 400px;
    }

    .file {
      margin-left: 140px;
      background-color: #f77f00;
      color: white;
      text-decoration: none;
      border: none;
      padding:10px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .file:hover {
      background-color: #e96b00;

    }