
.content-wrapper {
    flex-grow: 1;
    text-align: center;
    padding: 24px 16px;
    color: #1F2937;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #000000;
}

h3 {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #000000;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-top: 3rem;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
    margin-top: 120px;
}

.Complaints,
.Tracking {
    padding: 16px 40px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16;
    border-radius: 8px;
    border: 2px solid #000000;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-width: 200px;
}

.Complaints {
    background-color: rgb(255, 255, 255);
    color: #e76000;
    border: 2px solid #e76000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}


.Complaints::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e76000;
    transition: width 0.3s ease-in-out;
    z-index: 0;
}
.Complaints > span{
    position: relative;
    z-index: 1;
}
.Complaints:hover::before{
    width: 100%;
}

.Complaints:hover span {
    color: white;
}
.Tracking {
    background-color: rgb(255, 255, 255);
    color: #0132c7;
    border-color: #0132c7;
    border: 2px solid 0132c7;
    box-shadow: 0 4px 6px #0132c7(0, 0, 0, 0.1);
    position: relative;
}


.Tracking::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0132c7;
    transition: width 0.3s ease-in-out;
    z-index: 0;
}
.Tracking > span{
    position: relative;
    z-index: 1;
}
.Tracking:hover span{
    color: white;
}
.Tracking:hover::before {
    width: 100%;
}